@model Project_1.Models.User
@{
    ViewBag.Title = "Sinup";
}

<html>
    <head>
    <title>Sign Up</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.min.js"></script>
        <script src="~/Scripts/jquery-1.7.1.js"></script>  
        <script src="~/Scripts/bootstrap.js"></script>

        
        <script>
            function fun() {

                //$('#d1').remove();
                $.getJSON('/Home/CheckUname?u=' + $('#t1').val(), function (x) {
                    if (x)
                        $('#d1').text("User Name not available");
                    else
                        $('#d1').text("User Name available");
                });
            }
        </script>
</head>
<body>
<div class="content">
    <div class="container">
    <div class="page-header">
        <h2 style="color:lightblue">Register Yourself</h2>
    </div>
    <section>
        <div class="row">
        <div class="form-horizontal" style="margin-left:50px">
    <!--<form class="form-horizontal" style="margin-left:50px" action="~/Home/AddUser" method="post">-->
            @using (Html.BeginForm("AddUser","Home",FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
        <fieldset>

<div class="col-md-6">
<div class="form-group">
    <div class="col-md-6 control-label"><font color="white">Name : </div>
    <div class="col-md-6" >
      @Html.TextBoxFor(m => m.Name)
        @Html.ValidationMessageFor(m=>m.Name)<br/>
        </div>
  </div>
    <div class="form-group">
    <div class="col-md-6 control-label"><font color="white">Username : </div>
    <div class="col-md-6">
      @Html.TextBoxFor(m => m.UserName, new {id="t1"})@Html.ValidationMessageFor(m=>m.UserName)<div id="d1"></div>
        <div>
            <button type="button" id="b1" class="btn btn-primary navbar-btn" onclick="fun()" >check Availability</button>

        </div>
        </div>
  </div>
    <div class="form-group">
    <div class="col-sm-2 control-label"><font color="white">@Html.LabelFor(m => m.Email) : </div>
    <div class="col-sm-2">
      @Html.TextBoxFor(m => m.Email)@Html.ValidationMessageFor(m=>m.Email)<br/>
        </div>
  </div>
</div>
<div class="col-md-6">
    <div class="form-group">
    <div class="col-sm-2 control-label"><font color="white">@Html.LabelFor(m => m.Address) : </div>
    <div class="col-sm-3">
      @Html.TextBoxFor(m => m.Address)@Html.ValidationMessageFor(m=>m.Address)<br/>
        </div>
  </div>
            
    <div class="form-group">
    <div class="col-sm-2 control-label"><font color="white">Phone No : </div>
    <div class="col-sm-2">
      @Html.TextBoxFor(m => m.phoneNo)@Html.ValidationMessageFor(m=>m.phoneNo)<br/>
        </div>
  </div>
    <div class="form-group">
    <div class="col-sm-2 control-label"><font color="white">Password : </div>
    <div class="col-sm-2">
      @Html.TextBoxFor(m => m.password, new {type="password"})@Html.ValidationMessageFor(m=>m.password)<br/>
        </div>
        </div>
    <div class="form-group">
    <label  class="col-sm-2 control-label" for="textinput">Confirm Password : </label>
    <div class="col-sm-5">
      <input type="password" class="form-control" required="required"/><br/>
        </div>
  </div>
            
</div>
        

   <div class="col-sm-4 ">
    <div class="well well-sm">
    <center><button type="submit" class="btn btn-primary navbar-btn ">Sign Up</button>
    <button  onclick="/Home/Index" class="btn btn-danger navbar-btn" >Cancel</button></center>
    </div> 
        </div> 
           </fieldset>
       
            }
    </div>
    </div>
        </section>
    
   
  </div>
</div>     
</body>
</html>
